@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 352.6 100% 95%;
  --foreground: 352.6 5% 2%;
  --card: 352.6 50% 90%;
  --card-foreground: 352.6 5% 10%;
  --popover: 352.6 100% 95%;
  --popover-foreground: 352.6 100% 2%;
  --primary: 352.6 95.7% 81.8%;
  --primary-foreground: 0 0% 0%;
  --secondary: 352.6 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 314.6 30% 85%;
  --muted-foreground: 352.6 5% 35%;
  --accent: 314.6 30% 80%;
  --accent-foreground: 352.6 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 352.6 5% 90%;
  --border: 352.6 30% 50%;
  --input: 352.6 30% 18%;
  --ring: 352.6 95.7% 81.8%;
  --radius: 0.5rem;
}

.dark {
  --background: 352.6 50% 5%;
  --foreground: 352.6 5% 90%;
  --card: 352.6 50% 2%;
  --card-foreground: 352.6 5% 90%;
  --popover: 352.6 50% 5%;
  --popover-foreground: 352.6 5% 90%;
  --primary: 352.6 95.7% 81.8%;
  --primary-foreground: 0 0% 0%;
  --secondary: 352.6 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 314.6 30% 15%;
  --muted-foreground: 352.6 5% 60%;
  --accent: 314.6 30% 15%;
  --accent-foreground: 352.6 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 352.6 5% 90%;
  --border: 352.6 30% 18%;
  --input: 352.6 30% 18%;
  --ring: 352.6 95.7% 81.8%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
